/*bootystrap.css*/

body {
	background-color: #FFFFFF;
	font-family: Helvetica;
}

p {
	/*font-size: 20px;*/
}

li {
	display: inline-block;
	padding-left: 25px;
}

#menu {
	background-color: #FFFFFF;
	height: 10px;
	font-size: 15px;
	padding: 18px 85px; 
}

#top {
	background: -webkit-linear-gradient(#563D7C, #6E5398); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#563D7C, #6E5398); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#563D7C, #6E5398); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#563D7C, #6E5398); /* Standard syntax*/
	color: #FFFFFF;
	height: 571px;
	width: 100%;
}

#container {
	height: 400px;
	/*background-color: pink;*/
	margin: 0 auto;
	position: relative;
	text-align: center;
	top: 80px;
	width: 900px;
}

#letter {
	border-radius: 20px;
	font-size: 110px;
	padding: 15px;
	width: 110px;
}

#info {
	font-size: 30px;
	line-height: 42px;
	margin-top: 30px;
}

#download {
	border-radius: 5px;
	margin-top: 30px;
	font-size: 20px;
	padding: 18px;
	width: 205px;
}

.border {
	border: thin solid #FFFFFF;
	margin: 0 auto;
}