div {
	background-color: #EEE;
	border: 1px solid #FFF;
	border-collapse: collapse;
	float: left;
	height: 30px;
	width: 30px;
}

.clear {
	clear: both;
}

.green {
	background-color: green;
}

.black {
	background-color: #000;
}