/*tictacboom.css*/

h1 {
	font-size: 70px;
	margin: 10px;
	text-align: center;
}

h2 {
	font-size: 50px;
	margin: 10px;
	text-align: center;
}

p {
	display: none;
}

button {
	margin: 10px;
}

.container {
	margin: 0 auto;
	width: 600px;
}

.side {
	position: absolute;
	width: 320px;
}

.square {
	border: solid;
	height: 175px;
	float: left;
	padding: 3px;
	width: 175px;
}

.square:hover {
	background-color: cyan;
}

